@charset "UTF-8";
/*
0-600p- Phone
600-900px: Tablet
1200-1800: is where our normal styles apply
1800 and above- desktop
*/
/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big desktop
*/
/*order*/
@keyframes biglettermovement {
  0% {
    opacity: 0%;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes smalllettermovement {
  0% {
    opacity: 0%;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes rotate360 {
  0% {
    opacity: 0%;
    transform: rotate(0); }
  100% {
    opacity: 100%;
    transform: rotate(360deg); } }

@keyframes buttonmovement {
  0% {
    opacity: 0%;
    transform: translateY(2.5rem); }
  80% {
    transform: translateY(-0.4rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* sometimes people change thier browser zoom size 
    so instead of keeping it as 10px, make it in % 
    so 10px÷16px(16px is browser default)
    10/16=0.625=> 62.5% */ }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box;
  padding: 2rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.5;
  color: #777; }

.mainhead1 {
  color: #fff;
  text-transform: uppercase;
  /*tells if backside of an element while rotating is visible or not*/
  margin-bottom: 5rem; }
  .mainhead1 .mainheading--one {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: biglettermovement;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    transition: all 0.2s ease-out;
    /*animation-iteration-count: 3; */ }
    .mainhead1 .mainheading--one:hover {
      transform: scale(1.2);
      transition: all 0.2s ease-out; }
  .mainhead1 .mainheading--two {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: smalllettermovement 1s ease-out;
    /* name, duration, animation-timing-function */ }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #07d44b, #00ad74);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
  letter-spacing: 2px; }
  .heading-secondary:hover {
    scale: 1.07;
    letter-spacing: -6px;
    transform: rotate(3deg);
    text-shadow: 0.5rem 0.5rem 2rem rgba(133, 133, 133, 0.553); }

.heading-3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.15s;
  position: relative;
  font-size: 1.5rem; }
  .button:link:hover, .button:visited:hover {
    transform: translateY(-0.3rem);
    cursor: grab;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.39); }
    .button:link:hover::after, .button:visited:hover::after {
      transform: scaleY(1.8) scaleX(1.4);
      opacity: 0; }
  .button:link:active, .button:visited:active {
    transform: translateY(-0.2rem);
    cursor: grabbing;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.349); }
  .button:link::after, .button:visited::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.button--white {
  background-color: #fff;
  color: #777; }
  .button--white::after {
    background-color: #fff; }

.button--green {
  background-color: #07d44b;
  color: #fff; }
  .button--green::after {
    background-color: #07d44b; }

.button--anime {
  animation: buttonmovement .5s ease-out 1.3s;
  animation-fill-mode: backwards;
  /*applies 0% animation properties before loading the page*/ }

.learn-more-btn-text:link, .learn-more-btn-text:visited {
  font-size: 1.6rem;
  color: #07d44b;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #07d44b;
  padding: 3px;
  transition: all .2s; }

.learn-more-btn-text:hover {
  background-color: #07d44b;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.learn-more-btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(7, 212, 75, 0.8), rgba(0, 173, 116, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  /* clip-path: polygon(0 100%, 50% 0, 100% 100%); */
  position: relative; }
  .header__logodiv {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem; }
  .header__logo {
    height: 3.5rem;
    /* position: fixed; */ }
  .header__logo:hover {
    animation: rotate360 1s ease-in-out; }
  .header__main-text {
    position: absolute;
    top: 40%;
    left: 50%;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1of2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1of3 {
    width: calc((100% - 2 * 6rem )/3); }
  .row .col-1of4 {
    width: calc((100% - 3 * 6rem)/4); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#07d44b, #00ad74);
  z-index: 1000;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 230%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #07d44b;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #a8a8a8;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #e8e8e8;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(7, 212, 75, 0.8), rgba(0, 173, 116, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #e8e8e8;
  padding: 25rem 0 10rem 0;
  margin-top: -10rem; }

.composition {
  position: relative;
  transition: all 0.2s linear; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all 0.2s linear;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -3rem; }
    .composition__photo--p2 {
      right: 0rem;
      top: 0rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1rem solid #07d44b;
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.504);
      z-index: 2; }

.composition:hover, .composition__photo:not(:hover) {
  transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.637);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.163);
  transition: all 0.2s ease-out; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #07d44b, #00ad74);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.1); }

.heading-3 {
  display: inline-block;
  background-image: linear-gradient(to right, #fcb83b, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.card {
  perspective: 100rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 53rem;
  transition: all 1s ease-out; }
  .card__side {
    height: 53rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.155); }
    .card__side--front {
      color: black; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb938, red);
        text-align: center;
        color: #00ffee; }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #40ff69, #0b680b);
        text-align: center;
        color: red; }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #38ffe4, #004695);
        text-align: center;
        color: #fff700; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(240, 198, 122, 0.555), rgba(237, 37, 37, 0.703)), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(50, 97, 58, 0.678), #24b233), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(87, 120, 154, 0.855), #0609be), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-direction-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #ffc966, rgba(255, 0, 0, 0.727)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, #73ffad, rgba(19, 120, 14, 0.549)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, #79a1ff, rgba(27, 18, 103, 0.549)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 85%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #a8a8a8; }
  .card__back-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: white;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
