//COLOR
$color-one:#07d44b;
$color-two:#55c57a;
$color-three:#00ad74;
$color-grey: #e8e8e8;
$color-yellow: yellow;
$color-white: white;
$color-black: black;
$color-grey-dark:rgb(168, 168, 168);
//TEXT-COLOR
$text-color-white: #fff;
$text-color-grey: #777;
$text-color-black: black;

//GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;