.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
                        rgba($color-one, 0.8),
                        rgba($color-three, 0.8)),
                        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    /* clip-path: polygon(0 100%, 50% 0, 100% 100%); */
    @include respond(tablet-landscape){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 83vh);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 83vh);
    }
    position: relative;
        &__logodiv {
            position: absolute;
            top: 3.5rem;
            left: 3.5rem;
        }
        &__logo {
            height: 3.5rem;
            /* position: fixed; */
        }
        &__logo:hover {
            animation: rotate360 1s ease-in-out;
        }
        &__main-text {
            position: absolute;
            top: 40%;
            left: 50%;
            /* background-color: red; */
            transform: translate(-50%, -50%);
            text-align: center;
        }
}